#addJobBtn {
  margin-left: 10px;
}
#modal {
  position: absolute;
  background-color: rgb(255, 255, 255);
  display: none;
  z-index: 100;
  min-height: 300px;
  width: 500px;
  border: 1px rgb(73, 71, 222) solid;
  border-radius: 8px;
  top: calc(50% - 150px);
  left: calc(50% - 250px);
  box-shadow: 2px 2px 5px;
  padding: 15px;
}

#close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  background: rgb(73, 71, 222);
}
form button {
  margin-top: 15px;
}

#newJobSubmit {
  background: rgb(73, 71, 222);
}
#title{
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  /* font-size: 18px; */
  font-weight: 600;
  color: rgb(78, 78, 78);
}