#flatBtn {
    color: rgb(0, 136, 255);
}

#flatBtn:hover {
    background: rgb(235, 246, 252);
}

#LoginBtn {
    margin: 10px;
}

#ForgotPassword:hover {
    text-decoration: underline;
}

#CreateAccount:hover {
    text-decoration: underline;
}
.loginHeader {
    font-family: 'IBM Plex Sans', sans-serif;
}