#ForgotPassword {
    margin-right: 10px;
}

#CreateAccount {
    margin: 10px;
}

#LoginBtn {
    margin-top: 10px;
}

#ForgotPassword:hover {
    text-decoration: underline;
}

#CreateAccount:hover {
    text-decoration: underline;
}