#ForgotPassword {
    margin: 10px;
}

#CreateAccount {
    margin: 10px;
}

#ForgotPassword:hover {
    text-decoration: underline;
}

#CreateAccount:hover {
    text-decoration: underline;
}
.container {
    width: 80vh;
}
form {
    line-height: 4;
    margin-top: 30px;
    display: grid;
    justify-items: center;
    width: 80vh;
}
.row{
    display: grid;
    justify-content: center;
}